// $colors
$colors: ('primary': #db9e3f,
    'white': #fff,
    'black': #000,
    'grey': #999,
    'info': #4b67af,
    'dark': #222,
    'dark-1': #343440);



// font sizes
$base-font-size : 1rem;
$font-sizes: (xxs: 0.6154, // 8
    xs: 0.7692, // 10
    sm: 0.9231, // 12 
    md: 1, // 13
    lg: 1.0769, // 14
    xl: 1.2308, // 16
);


$flex-jc: (start: 'flex-start',
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around);



$flex-ai: (start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch);


// spacing 
// 0 - 5 

$spacing-types: (m : margin, p : padding);
$spacing-directions: (t: top, r: right, b: bottom, l: left);
$spacing-base-size: 1rem;

$spacing-sizes: (0 : 0,
    1 : 0.25,
    2 : 0.5,
    3 : 1,
    4 : 1.5,
    5: 3);